body {
  font-family: "Roboto", sans-serif;
}

.navbar-item img {
  width: 54px;
  max-height: 11rem;
  border: none;
  background-color: none;
  background-image: url("tomato_logo.jpg");
}

.navbar-item {
  padding: 1rem;
}

.tomato-logo {
  margin-left: 1rem;
  background-image: url("tomato_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
}

.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  display: block;
  height: auto;
  width: 70%;
}

.title.is-1 {
  font-size: 6rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
  #countdown {
    font-size: 3rem;
  }
  .resp-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#countdown {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.center {
  text-align: center;
  width: 410px;
  margin: 3rem auto;
}

.button {
  margin-right: 1rem;
}

.title.is-1 {
  font-size: 6rem;
  margin: 1rem auto;
}

.navbar-menu {
  justify-content: center;
}

.container {
  display: grid;
}

.lateral {
  display: flex;
}

.tomatoes {
  margin-left: 1rem;
  background-image: url("tomato_logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
}

.focused {
  text-decoration: underline black;
  font-weight: 700;
  font-style: italic;
}

.modal-wrap {
  background-color: white;
  padding: 70px;
  line-height: 1.6;
}

.todo-list {
  border-left: medium solid black;
  background-color: #f1efef;
}

.card-info {
  background-color: #f1efef;
}

p span {
  display: block;
}
